
.page-body {
    background-color: blueviolet;
}

.container .header-section {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container .row .header-section{
    margin: 0 auto;
  }

.header-section {
    /* width: 500px; */
    background-color: orange;
}

/* CARD */
.card {
    /* margin: 35px 0 35px 0; */
    padding: 35px 0 31px 0;
}

/* .card-content {
    padding: 50px 0 50px 0;
} */

/* TABLE */
table {
    /* background-color: lightblue; */
}

.table {
    margin: auto;
    text-align: left;
    background-color: lightyellow;
}

.table-header {
    font-weight: bold;
    /* background-color: blue; */
    /* text-decoration: underline; */
}

.add-form {
    margin: auto;
    text-align: left;
    background-color: lightgreen;
}

.link-break {
    margin: 0 32px;
    padding: 0 32px;
}